* {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

header,
.main-content,
footer {
    background: #9cdef7;
}

.main-nav {
    flex-basis: 65%;
}